a.btn-file{margin:2px; display:inline-block;}
a.btn-file.active{font-weight:bold;}
.folder-menu .panel-heading .icon{color:#145ccd; font-weight:normal;}
.folder-menu .panel-heading{cursor:pointer;}
.folder-menu .panel-heading > .panel-actions{padding-top:6px; padding-right:6px;}

.editor-wrapper pre {border: none}

.row-main{background:#efefef;}
#navMenu{font-size:13px; font-weight:bold; padding-right:20px}
#navMenu .dropdown{display:inline-block; margin-left:10px;}
#navMenu #fileBox .dropdown-menu{max-height:600px; overflow:auto;}
#navMenu a{color:#010101;text-decoration: none;}
#mainPanel{margin:0 20px;}
#mainPanel .panel-heading, #mainPanel .panel-footer{background:#fff;}
