.top .chosen-container-multi .chosen-choices{border-width:0px;}
.top .chosen-container-multi .chosen-choices .search-choice {padding-right: 5px;}

.textarea-chosen{ margin-top : -28px; margin-left: 4px;}
#titleTDCell > .required-wrapper {width: 100%;}

